NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=church_saas
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-refresh
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PLATFORM_JWT_SECRET=change-me-platform
PLATFORM_JWT_REFRESH_SECRET=change-me-platform-refresh
PLATFORM_JWT_EXPIRES_IN=15m
PLATFORM_JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000

BACKOFFICE_SUPER_ADMIN_EMAIL=admin@plataforma.local
BACKOFFICE_SUPER_ADMIN_PASSWORD=change-me-admin-password
BACKOFFICE_SUPER_ADMIN_NAME=Platform Super Admin
